<div class="form" style="position: absolute;  top: 50%; left: 50%; width: 800px; height: 600px; margin-left: -220px; margin-top: -200px; font-size: 24px; color: gray; opacity: 0.8;">
	<p id="notice"><%= notice %></p>

	<p>
	  <strong>Name:</strong>
	  <%= @publisher_house.name %>
	</p>

	<%= link_to 'Edit', edit_publisher_house_path(@publisher_house) %> |
	<%= link_to 'Back', publisher_houses_path %>
</div>