<div class="form" style="position: absolute;  top: 50%; left: 50%; width: 800px; height: 600px; margin-left: -220px; margin-top: -200px; font-size: 24px; color: gray; opacity: 0.8;">
	<h1>New Book</h1>

	<%= render 'form', book: @book %>

	<%= link_to 'Back', books_path %>
</div>